.container
  .row
    .col-md-12
      #job
      #left
        %ul
          %li
            %a{:href => "#networking"} Networking
          %li
            %a{:href => "#details"} Job Details
      #center
        %h2 Our sponsors are usually hiring!
        %p Check the bottom of this page. :)
        %div
        .col-md-6
        = image_tag "atl_meetup4.jpg", :alt => "Give a Talk", :class => "thumbnail"
        #networking
          %h2 Networking
          %p
            Networking sounds like an MBA buzzword, but it is as easy as coming to a Meeting
            and talking about what interests you in software. We encourage you to come and ask
            people about their jobs.
        .col-md-12
          - model_class = Job
          %p
        #details
        %h2 Job details
        %h2= @job['title']
        .job-post-meta
        %span= job_post_date_by(@job)
        =job_mail_to(@job)
        %h3 Working time:
        %h5= job_start_end_date(@job)
        %h3 Description
        %h5= @job[:description]
        %h3 Requirement
        %h5= @job[:requirement]