.container
  .row
    .col-md-12
      #hire
        %h1 How to hire a Ruby developer.
        .row
          .col-md-6
            %p There is a lot of demand for Ruby developers, so hiring can be challenging.
            %p
              Send one of your current developers to announce an opening at an AtlRug Meeting.
              Make sure to tell people how your job is different.
            %p If you have no technical experience, you may need a partner who understands technology.
          .col-md-6
            = image_tag "atl_meetup4.jpg", :alt => "Give a Talk", :class => "thumbnail"
            
  .row
    .col-md-12
      - model_class = Resume
      %h1 Have not submitted your resume yet?
      %a{:href => new_resume_path}= 'Please click here to submit your resume'
      
  .row
    .col-md-12
      - model_class = Resume
      %p
      %h1 Current resumes
      #current_resumes
        - if @resumes.any?
          %ul.other-list
            - @resumes.each do |resume|
              %li
                .job_content
                  %h4= resume_link(resume)
                  .job-post-meta
                    %span= resume_post_date_by(resume) 
                    =resume_mail_to(resume)
                  %p= resume_short_description(resume)
                  %h6.continue_read= resume_more_reading(resume) + resume_delete(resume)
        - else
          %h3 No resumes.
