#learn.container
  .row
    .col-md-12
      #community
        %h1 Community and Giving Back
        .row
          .col-md-6
            %h2 Meetings
            %h3
              = link_to 'Atlanta Ruby Users Group on Meetup.com',
                'http://www.meetup.com/atlantaruby/'
            %h3
              = link_to 'Atlanta Code For America on Meetup.com',
                'http://www.meetup.com/codeforatlanta/'
            %h3
              = link_to 'Alpharetta Rails Coders on Meetup.com',
                'http://www.meetup.com/Alpharetta-Rails-Coders/'

            %h2 Software
            %h3
              = link_to 'Rails', 'http://weblog.rubyonrails.org'
            %ul.p-list
            %li
              = link_to 'Issues', 'https://github.com/rails/rails/issues'
            %li
              = link_to 'Book', 'https://www.railstutorial.org/book'
            %li
              = link_to 'Newsletter', 'https://rails-weekly.ongoodbits.com/'

            %h3
              = link_to 'Ruby', 'https://www.ruby-lang.org/en/'
            %ul.p-list
            %li
              = link_to 'Issues', 'https://bugs.ruby-lang.org/issues'
            %li
              = link_to 'Newsletter', 'http://rubyweekly.com/'

            %h2 Gem Monitoring
            %ul.p-list
            %li
              = link_to 'VersionEye', 'https://www.versioneye.com/'
            %li
              = link_to 'Gemasium', 'https://gemnasium.com/'

            %h2 Programs
            %ul.p-list
            %li
              = link_to 'Google Summer of Code',
                'https://developers.google.com/open-source/gsoc/'
            %li
              = link_to 'Mozilla Winter of Security',
                'https://blog.mozilla.org/security/2016/08/01/announcing-mwos-2016'
            %li
              = link_to 'Ruby Together (Support general ruby-based tools)',
                'https://rubytogether.org/news/2015-03-17-announcing-ruby-together'

            %h2 Training
            %ul.p-list
            %li
              = link_to 'Rails Conference Videos',
                'confreaks.tv/events/railsconf2016'
