.container
  .row
    .span12
      #meetings
        - if @next_meeting
          %h1= meetup_link(@next_meeting)
          .description= raw(@next_meeting['description'])
          - if @coming_meetings.any?
            %h3
              %i.icon-calendar
              Future Meetings
            %ul.other-list
              - @coming_meetings.each do |meeting|
                %li= meetup_link(meeting)
        - else
          %h1 No upcoming meetings.
        %h4
          See more on
          = link_to 'Meetup.com/atlantaruby', 'http://www.meetup.com/atlantaruby/'
        %h4
          = link_to 'Past Talks Wiki page', 'https://github.com/atlrug/atlrug4/wiki/1.-Past-Talks'
