#videos
  - if @most_recent_video.present?
    %h1
      %a{:href => @most_recent_video.player_url}= @most_recent_video.title
    = raw @player
    - if @other_videos.any?
      %h3 Other videos
      %ul.other-list
        - @other_videos.each do |video|
          %li
            %a{:href => video.player_url}= video.title
    %h4
      See more newer stuff on
      = link_to 'YouTube', @playlist_url
    %h4
      = link_to 'Past Talks Wiki page', 'https://github.com/atlrug/atlrug4/wiki/1.-Past-Talks'
