#videos
  - if @most_recent_video.present?
    %h1
      %a{:href => Video.player_url(@mrv_id)}= @most_recent_video.title
    = raw @player
    - if @other_videos.any?
      %h3 Other videos
      %ul.other-list
        - @other_videos.each do |video|
          %li
            %a{:href => Video.player_url(video.id)}= video.title
    %h4
      See more newer stuff on
      = link_to "Atlanta Ruby Users' Group Talk Series on YouTube", @playlist_url
    %h4
      = link_to 'Past Talks on our Wiki page', 'https://github.com/atlrug/atlrug4/wiki/1.-Past-Talks'
    %h4
      = link_to "Older Videos", 'http://www.mefeedia.com/channel/125696'
