#videos
  - if @most_recent_video
    %h1
      %a{:href => @most_recent_video['url']}= @most_recent_video['title']
    %embed.thumbnail{:src=> @most_recent_video['embedUrl'], :type=>"application/x-shockwave-flash", :width=>"480", :height=>"320", :allowscriptaccess=>"always", :allowfullscreen=>"true"}
    - if @other_videos.any?
      %h3 Other videos
      %ul.other-list
        - @other_videos.each do |video|
          %li
            %a{:href => video['url']}= video['title']
    %h4
      See more on
      = link_to 'Blip.tv', 'http://skiptree.blip.tv'
    %h4
      See more on
      = link_to 'YouTube', 'http://www.youtube.com/playlist?list=PLqZY2tk6rSRn2Vapk2raOTFjXGiDbpQUU'
    %h4
      = link_to 'Past Talks Wiki page', 'https://github.com/atlrug/atlrug4/wiki/1.-Past-Talks'
