!!!
%html
  %head
    %title Atlanta Ruby Users' Group

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  %body
    #tweet
      %a{:href=>"http://twitter.com/atlrug", :class=> "twitter-follow-button", :'data-show-count'=> "false"} Follow @atlrug
      %script{:src=> "http://platform.twitter.com/widgets.js", :type=>"text/javascript"}
    #sidebar
      #masthead
        %a{:href => '/'}
          =image_tag "gem-small.png", :alt => 'Atlanta Ruby Logo'
    #main= yield
    #footer
      = render 'content/sponsors'
